Papers
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
*/.DS_Store/*
.data
*/.data/*
.datasets
*/datasets/*
**/datasets
.__pycache__
*/__pycache__/*
**/__pycache__
.weights
*/.weights/*
venv
*/checkpoint/*
*/results/*
**/logs